@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f0f0f0;
}

.alignment {
  position: relative;
  max-width: 1680px;
  padding: 0 100px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  background-color: #41c27d;
  padding: 50px 0;
}
header .alignment {
  display: flex;
  justify-content: space-between;
}
header .alignment nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .alignment nav a {
  color: #ffffff;
  cursor: pointer;
  font-size: 22px;
  transition: 0.5s;
}
header .alignment nav a:hover {
  text-shadow: 0px 0px 5px;
}
header .alignment .social-nav {
  display: flex;
  gap: 30px;
}
header .alignment .social-nav a {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

main .home-banner {
  display: flex;
  align-items: center;
}
main .home-banner .div-banner {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
main .home-banner .div-banner .alignment {
  width: 100%;
}
main .home-banner .div-banner .alignment .content {
  max-width: 900px;
  width: 100%;
}
main .home-banner .div-banner .alignment .content h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: #525252;
  letter-spacing: 3px;
  font-size: 38px;
}
main .home-banner .div-banner .alignment .content p {
  font-size: 28px;
  color: #6E6C6C;
  margin: 50px 0;
  line-height: 42px;
}
main .home-banner .div-banner .alignment .content .cta-banner {
  display: flex;
  gap: 30px;
}
main .home-banner .div-banner .alignment .content .cta-banner a {
  padding: 20px 50px;
  border: 1px solid #525252;
  color: #6E6C6C;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .home-banner .div-banner .alignment .content .cta-banner a img {
  display: block;
  margin-right: 10px;
  width: 14px;
}
main .brands {
  padding: 30px 0;
  background-color: #e6e6e6;
}
main .brands .alignment {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .brands .alignment img {
  filter: grayscale(1);
  opacity: 20%;
}
main .vantages {
  padding: 80px 0;
}
main .vantages .alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
main .vantages .alignment .content {
  color: #6E6C6C;
  max-width: 650px;
}
main .vantages .alignment .content h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: #525252;
  letter-spacing: 3px;
  font-size: 42px;
}
main .vantages .alignment .content > p {
  font-size: 22px;
  color: #6E6C6C;
  margin-top: 30px;
  line-height: 36px;
}
main .vantages .alignment .content ul {
  margin-top: 30px;
  font-weight: bold;
}
main .vantages .alignment .content ul li {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
main .vantages .alignment .content ul li img {
  width: 22px;
  margin-right: 20px;
  font-size: 18px;
}
main .vantages .alignment .content .cta-watch {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
main .vantages .alignment .content .cta-watch a {
  cursor: pointer;
}
main .vantages .alignment .content .cta-watch a:first-child {
  padding: 15px 35px;
  border: 1px solid #525252;
  display: flex;
  margin-right: 25px;
  text-transform: uppercase;
}
main .vantages .alignment .content .cta-watch a:first-child img {
  margin-right: 10px;
}
main .services {
  background-color: #41c27d;
  padding: 80px 0;
  color: #f5f5f5;
}
main .services .alignment {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-around;
}
main .services .alignment .services-box {
  width: calc(33.33% - 90px);
  /* Defina a largura desejada e subtraia o gap */
  padding: 20px;
  box-sizing: border-box;
  /* Isso garante que o padding não aumente a largura total */
  text-align: center;
  line-height: 22px;
}
main .services .alignment .services-box img {
  width: 32px;
  margin-bottom: 25px;
}
main .services .alignment .services-box h3 {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 25px;
}
main .services .alignment .services-box P {
  font-size: 18px;
}
main .quote {
  padding: 80px 0;
  text-align: center;
  color: #6E6C6C;
}
main .quote .alignment blockquote {
  line-height: 25px;
}
main .quote .alignment blockquote p {
  font-size: 20px;
  line-height: 36px;
}
main .quote .alignment blockquote cite {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
main .quote .alignment blockquote p:first-child {
  margin-bottom: 30px;
}
main .newsletter {
  padding: 80px 0;
  background-color: #41c27d;
  color: #f5f5f5;
}
main .newsletter .alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .newsletter .alignment p {
  font-size: 18px;
  margin-bottom: 30px;
}
main .newsletter .alignment form {
  display: flex;
  justify-content: center;
  width: 630px;
}
main .newsletter .alignment form input:nth-child(1) {
  width: 100%;
}
main .newsletter .alignment form #email {
  padding: 12px 10px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: 0;
  color: #41c27d;
}
main .newsletter .alignment form #email::-moz-placeholder {
  color: #41c27d;
}
main .newsletter .alignment form #email::placeholder {
  color: #41c27d;
}
main .newsletter .alignment form #email:focus {
  outline: none;
}
main .newsletter .alignment form #subscribe {
  background-image: url("../img/envelopeIcon.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  padding: 12px 20px;
  border: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #ffffff;
  cursor: pointer;
}

footer {
  padding: 80px 0;
  color: #6E6C6C;
}
footer .alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .alignment img {
  margin-bottom: 30px;
}
footer .alignment span {
  font-weight: bold;
}/*# sourceMappingURL=index.css.map */