@media screen and (max-width: 2560px) {

  .brands,
  .vantages,
  .services,
  .quote,
  .newsletter,
  footer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .alignment {
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .social-nav {
      width: auto;
      gap: 50px !important;
    }
  }
}