@media screen and (max-width: 375px) {
  .cabecalho-principal .div-header {
    flex-direction: column;
    justify-content: space-around;
  }

  .cabecalho-principal .nav {
    width: 100%;
  }

  .cabecalho-principal .social-nav {
    width: 60%;
  }
  
  .conteudo-principal .div-banner {
    justify-content: center;
  }

  .conteudo-principal .div-banner .banner-box {
    margin: 0px;
    width: 90%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .conteudo-principal .div-banner .banner-box a {
    margin: 10px 20px;
  }

  .conteudo-principal .social-icons {
    width: 90%;
  }


  .conteudo-principal .div-phone {
    flex-direction: column;
  }

  .conteudo-principal .div-phone .phone-box {
    width: 90%;
    margin-left: 0;
  }

  .conteudo-principal .div-phone .phone-image {
    margin-right: 50px;
  }

  .conteudo-principal .div-phone h2, .conteudo-principal .div-phone .phone-box > p{
    text-align: center;
  }

  .conteudo-principal .div-phone .phone-box .btn-watch a:first-child {
    width: 60%;
  }

  .conteudo-principal .div-services .services-box {
    width: 90%;
    padding: 40px 0;

    flex-direction: column;
  }

  .conteudo-principal .quote p {
    width: 90%;
  }


}