@media screen and (max-width: 1165px) {
  .conteudo-principal .div-banner {
    justify-content: center;
  }

  .conteudo-principal .div-banner .banner-box {
    margin-left: 0;
  }
}

.conteudo-principal .social-icons img {
  margin: 0 20px;
}


@media screen and (max-width: 900px) {

  .cabecalho-principal .div-header {
    flex-direction: column;
    justify-content: space-around;
  }

  .conteudo-principal .div-phone {
    flex-direction: column;
  }
  
  .conteudo-principal .div-phone .phone-box {
    margin: 0;
  }

  img.phone-image {
    margin-right: 60px;
  }

  .conteudo-principal .div-phone .phone-box h2 {
    text-align: center;
  }

  .conteudo-principal .div-services {
    grid-template-columns: 2fr 2fr;
  }
}



@media screen and (max-width: 590px) {

  .conteudo-principal .div-banner .banner-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 40px;
    text-align: center;
  }

  .conteudo-principal .div-banner .banner-box a {
    margin-bottom: 20px;
  }

  .conteudo-principal .div-phone .phone-box {
    width: 380px;
  }

  .conteudo-principal .div-services {
    grid-template-columns: 2fr;
  }


  @media screen and (max-width: 489px) {
    .conteudo-principal .social-icons img {
      margin: 0;
    }
  }
}